<%- include("../includes/header.ejs", {title:"Add New bowlers"}); %>
<header>Add New Bowler</header>



<div class ="container">
    <article>
<form action="/bowlers/insert" method="get">

    Main Sponsor:
    <select id="cname" name="cname">
        <% for(var i=0; company.length > i; i++ ) { %>
        <option value="<%= company[i].name %>"><%= company[i].name %></option>
        <% } %>
    </select>
<br><br>
    Balls:
    <select id="bname" name="bname" multiple="multiple">
        <% for(var i=0; balls.length > i; i++ ) { %>
        <option value="<%= balls[i].name %>"><%= balls[i].name + ' by' + balls[i].company_name %></option>
        <% } %>
    </select>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#bname').multiselect();
        });
    </script>
<br><br>
    First: <input id="first" name="first" type="text" />
    <br />
    Last: <input id="last" name="last" type="text" />
    <br />
    Age: <input id="age" name="age" type="text" />
    <br />
    Dominant Hand: <select id="lr" name="lr">
        <option value="left">left</option>
        <option value="right">right</option>
    </select><br>
    Season Average: <input id="avg" name="avg" type="text" />
    <br />
    Season Earnings: <input id="earnings" name="earnings" type="text" />
    <br />
    Career Titles: <input id="titles" name="titles" type="text" />
    <br />




    <br />
    <input type="submit" />

</form>
    </article>
</div>
<%- include("../includes/footer.ejs"); %>