<%- include("../includes/header.ejs", {title:"first - View All"}); %>

<header>Bowlers</header>

<nav>
    <ul>
        <li><a href="/bowlers/add/">Add New Bowler</a></li>
        <li><a href="/">Home</a></li>

    </ul>
</nav>
<br />
<article>
    <table border="1">
        <tr><th>First</th><th>Last</th><th>Main Sponsor</th><th>Average</th><th>Number of Titles</th><th>Ball List</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><%= result[i].fname %></td>
            <td><%= result[i].lname %></td>
            <td><%= result[i].main_sponsor%></td>
            <td><%= result[i].season_avg%></td>
            <td><%= result[i].num_titles%></td>


            <td>
            <button onclick="event.preventDefault();
            window.location.href='/balls/?bowler_id=<%= result[i].bowler_id %>'">Link to Balls</button>
            </td>
        </tr>
        <% } %>
    </table>
    <div>
        <form action='filterView' method="get">
            <header>Filter</header>
            Avg Higher Than: <input id="avt" name="avt" type="text" />
            <input type="submit" />

        </form>
    </div>
    <br><br>
    <%if(locals.was_successful){%>
    <div class="col-md-12">
        <div id="messsage" class="alert alert-success col-md-4">
            <p>Successfully added entry to database</p>
        </div>
    </div>
    <%}%>
</article>
<%- include("../includes/footer.ejs"); %>