<%- include("./includes/header.ejs"); %>
<header>
   About Page
</header>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<article>
    Here is my PBA Pro bowler database website. With its
    amazing functionality, I am able to store some
    data from PBA.com on professional bowlers,
    bowling companies, and bowling balls.

    All the criteria for the project should be met.<br><br>

    <a href="/images/rs.png">Relational Schema</a><br><br>
    <a href="/images/er.png">ER Diagram</a>

</article>

<%- include("./includes/footer.ejs"); %>


