<%- include("./includes/header.ejs"); %>
  <header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </header>

<div class = "container">
  <nav>
    <ul>
      <li><a href="/about">About</a></li><br><br>
      <li><a href="/bowlers/all">Bowlers</a></li>
      <li><a href="/balls/all">Bowling Balls</a></li>
      <li><a href="/companies/all">Bowling Companies</a></li>


    </ul>
  </nav>


</div>

<%- include("./includes/footer.ejs"); %>


