<%- include("../includes/header.ejs", {title:"first - View All"}); %>

<header>balls</header>

<nav>
    <ul>
        <li><a href="/balls/add/">Add New Ball</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</nav>
<br />
<article>
    <table border="1">
        <tr><th>Name</th><th>Company Name</th><th>Coverstock</th><th>Color</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><%= result[i].name %></td>
            <td><%= result[i].company_name %></td>
            <td><%= result[i].coverstock%></td>
            <td><%= result[i].color%></td>
        </tr>
        <% } %>
    </table>
    <br><br>
    <%if(locals.was_successful){%>
    <div class="col-md-12">
        <div id="messsage" class="alert alert-success col-md-4">
            <p>Successfully added entry to database</p>
        </div>
    </div>
    <%}%>
</article>
<%- include("../includes/footer.ejs"); %>