<%- include("../includes/header.ejs", {title:"Add New ball"}); %>
<header>Add New Ball</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>

</nav>


<div class ="container">
    <article>
        <form action="/balls/insert" method="get">
            <br><br>
            Ball Name: <input id="name" name="name" type="text" />
            <br />
            Company:
            <select id="cname" name="cname">
                <% for(var i=0; company.length > i; i++ ) { %>
                <option value="<%= company[i].name %>"><%= company[i].name %></option>
                <% } %>
            </select><br>
            Coverstock: <input id="coverstock" name="coverstock" type="text" />
            <br />
            Color: <input id="color" name="color" type="text" />
            <br />
            <br />
            <input type="submit" />

        </form>
    </article>
</div>
<%- include("../includes/footer.ejs"); %>