<%- include("../includes/header.ejs", {title:"first - View All"}); %>

<header>Companies</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>
<br />
<article>
    <table border="1">
        <tr><th>Company Name</th><th>Year Started</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><%= result[i].name %></td>
            <td><%= result[i].YearStarted %></td>
        </tr>
        <% } %>
    </table>
</article>
<%- include("../includes/footer.ejs"); %>